# Git configuration file for ignoring untracked paths.
#
# For more information, visit https://git-scm.com/docs/gitignore.

.benchmarks/
.cache/
.coverage
.DS_Store
.env
.hypothesis/
.mypy_cache/
.pdbrc
.pytest_cache/
.python-version
.tox/
.venv/
.vscode/settings.json
*.db
*.ipynb
*.pyc
*.swp
*.tar.gz
*.tgz
*.whl
**/__pycache__/
**/.ipynb_checkpoints/
**/*.egg-info/
/src/auralmatics/components/**/*.html
/src/auralmatics/components/**/*.js
/tmp/
certs/
dist/
environment.yml
f1
flit.ini
index.yaml
node_modules/
nohup.out
Pipfile
Pipfile.lock
requirements.lock
requirements.txt
setup.py
test-results/
tests/results
